VERA_DISCORD_TOKEN=
VERA_ASSISTANT_ID=
MONA_DISCORD_TOKEN=
MONA_ASSISTANT_ID=
PING_DISCORD_TOKEN=
PING_ASSISTANT_ID=
DISCORD_API_PORT=3001
DISCORD_API_SECRET=
LARAVEL_VERA_API_URL=https://laravel-vera.test/api
DISCORD_API_TOKEN=
